{% extends 'base.html' %}
{% block head %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/scripts/location.js"></script>
<link rel="stylesheet" href="/static/stylesheets/signup.css">
{% endblock %}

{% block content %}
<div id="signup-page">
    <h1 class="display-3">Delete Account?</h1>
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% if field.name == 'location' %}
          <div id="location-div">
            {{ field(placeholder=field.label.text, class="form-control", id="location-input") }}
            <ul id="sug-list">

            </ul>
          </div>
          {% else %}
          {{ field(placeholder=field.label.text, class="form-control") }}
          {% endif %}
        {% endfor %}
    
        <button class="btn btn-primary btn-lg btn-block signup-button">Confirm!</button>
      </form>
</div>
{% endblock %}