{% extends 'base.html' %}

{% block content %}
<div id="home-div">
    <a href="/meets/new"><button id="new-meet-button">Create New Meet</button></a>
    <hr>
    {% for meet in meets %}
    <div class="meet-card">
        <a href="/meets/{{meet.id}}">{{meet.title}}</a>
        <p>created by: {{meet.creator.username}}</p>
        <p class="description">{{meet.description}}</p>
        <p>Address: {{meet.location}}</p>
        <p>Meet Date: {{meet.date.strftime("%Y-%m-%d %I:%M %p")}}</p>
    </div>
{% endfor %}
</div>
{% endblock %}