{% extends 'base.html' %}

{% block content %}
<div id="user-div">
    {% if user.id == g.user.id %}
    <a href="/users/edit"><button class="btn btn-success">Edit Profile</button></a>
    {% endif %}
    <h2>{{user.username}}</h2>
    <h3>{{user.location}}</h3>
    <hr>
    <h3>Meets Attended:</h3>
    <ul>
        {% for meet in user.rsvpd_meets %}
        <li><a href="/meets/{{meet.id}}">{{meet.title}}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="more-info">
    {% if user.id == g.user.id %}
    <a href="/cars/add"><button class="btn btn-success">Add Car</button></a>
    {% endif %}
    <h2>Garage:</h2>
    <ul>
        {% for car in user.cars %}
        <li>{{car.year}} {{car.make}} {{car.model}}</li>
        {% endfor %}
    </ul>

    <h2>Created Meets:</h2>
    <ul>
        {% for meet in user.created_meets %}
        <li><a href="/meets/{{meet.id}}">{{meet.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}