{% extends 'base.html' %}

{% block head %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/scripts/user.js"></script>
<link rel="stylesheet" href="/static/stylesheets/signup.css">
{% endblock %}

{% block content %}
<div id="user-div">
    {% if user.id == g.user.id %}
    <a href="/users/edit"><button class="btn btn-success">Edit Profile</button></a>
    <a href="/users/delete"><button class="btn btn-danger">DELETE Profile</button></a>
    {% endif %}
    <h2>{{user.username}}</h2>
    <h3>{{user.location}}</h3>
    <hr>
    <h3>Meets Attended:</h3>
    <ul>
        {% for meet in user.rsvpd_meets %}
        <li><a href="/meets/{{meet.id}}">{{meet.title}}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="more-info">
    {% if user.id == g.user.id %}
    <a href="/cars/add"><button class="btn btn-success">Add Car</button></a>
    {% endif %}
    <h2>Garage:</h2>
    <ul>
        {% for car in user.cars %}
        <li>{{car.year}} {{car.make}} {{car.model}} {% if user.id == g.user.id %} <i style="cursor: grab;" id="{{car.id}}">&#x2715</i> {% endif %}</li>
        {% endfor %}
    </ul>

    <h2>Created Meets:</h2>
    <ul>
        {% for meet in user.created_meets %}
        <li><a href="/meets/{{meet.id}}">{{meet.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}